/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Courier+Prime&display=swap');

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  @apply bg-black text-white font-body;
}

a {
  @apply text-header;
  text-decoration: none;
}

a:hover {
  @apply underline;
}

/* Reusable Components */
@layer components {
  .header {
    @apply text-4xl font-header text-header mb-4;
  }

  .subheader {
    @apply text-2xl font-header text-subheader mb-3;
  }

  .paragraph {
    @apply text-base font-body mb-2;
  }

  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-6 lg:py-8;
  }

  .bordered {
    @apply border;
  }

  .fixed {
    position: fixed;
  }

  .bg-opacity-75 {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .cursor-pointer {
    cursor: pointer;
  }
}
